<!-- user.html -->
<!DOCTYPE html>
<html>
  <head>
            <title>GitHub Search</title>
            <meta charset="utf-8"/>
            <!-- CSS ===================== -->
            <link rel="stylesheet" href="../css/style.css">
            <!-- load bootstrap -->
            <link rel="stylesheet" href="../css/bootstrap.min.css">
            <!-- JS ===================== -->
            <!-- load angular -->

            <script src="../js/angular.min.js"></script>
            <script src="../js/user.js"></script>
  </head>
  <body ng-controller="directorycontroller" ng-app="directoryapp">
        <header id="main-header"><center><h1>GitHub Search</h1></center>
        </header>
    <a href="repo.html"><button class="btn btn-primary nav">Search by repositories</button></a>
    <label class="switch">
            <input type="checkbox" ng-click="orderChange()">
            <span class="slider round">{{order}}</span>
    </label>
  <div class="container">
	<div class="row">
           <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class=" search-query form-control" ng-model="searchtext" ng-keydown="$event.keyCode === 13 && searchUsers()" placeholder="Search User..." />
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
            
            <!-- Details-->
            <table class="table">
                <tr>
                    <th><img src="images/name.png">User ID</img>
                    </th>
                    <th><img src="images/owner.png">Avatar</img>
                    </th>
                    <th><img src="images/score.png">Score</img>
                    </th>
                  </tr>
                  <tr ng-repeat="user in Details | orderBy: '':orderDirection" class="myRow">     
                      <td>
                        <a style="display:block;" href="{{user.html_url}}" target="_blank">{{user.login}}</a>
                      </td>
                      <td><a style="display:block;" href="{{user.html_url}}" target="_blank"><img src="{{user.avatar_url}}" style="height:20px;"></a>
                      </td>
                      <td><a style="display:block;" href="{{user.html_url}}" target="_blank">{{user.score}}</a>
                      </td>
                    </tr>
          </table>
	</div>
</div>
</body>
</html>
